[Unit]
Description=Prometheus exporter_exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/exporter_exporter/exporter_exporter  --config.file=/opt/exporter_exporter/exporter_exporter.conf

[Install]
WantedBy=multi-user.target
