[Unit]
Description=Prometheus mysqld_exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/mysqld_exporter/mysqld_exporter  --config.my-cnf=/opt/mysqld_exporter/cnf

[Install]
WantedBy=multi-user.target
