[Unit]
Description=Sonar 7
After=network.target network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/sonar/sonarqube/bin/linux-x86-64/sonar.sh start
ExecStop=/home/sonar/sonarqube/bin/linux-x86-64/sonar.sh stop
ExecReload=/home/sonar/sonarqube/bin/linux-x86-64/sonar.sh restart
Type=forking
User=sonar


[Install]
WantedBy=multi-user.target