[Unit]
Description=AlertManager
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/alertmanager
ExecStart=/opt/alertmanager/alertmanager

[Install]
WantedBy=multi-user.target
