[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/prometheus
ExecStart=/opt/prometheus/prometheus --web.listen-address="0.0.0.0:9090"

[Install]
WantedBy=multi-user.target
